.sideLinkItem {
  border-radius: 8px;
  // margin-bottom: 10px;
  // height: 36px;
}
.mark {
  position: absolute;
  height: 100%;
  width: 100%;
  height: 32px;
  z-index: 2;
  border-radius: 8px;
  background-color: #e8e8e8;
  // opacity: 0.4;
}
.sideLinkItemActive {
  // background-color: #e8e8e8;
}
